In [2]:
import pandas as pd
import numpy as np
import pickle

pd.set_option('display.max_rows', 6000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)

In [3]:
path = '/nfs/home/vyasa/projects/proj_off/data_off/clarify/spanish_comorbidity/new/'
path_output = '/nfs/home/vyasa/projects/proj_off/data_off/clarify/spanish_comorbidity/new/output/'

In [ ]:
df = pd.read_csv(path_output+'id_text_cuiLst.csv', encoding='utf-8')
df_id_text = pd.read_csv(path_output+'id_text_kg.csv', encoding='utf-8')
df_id_cui = pd.read_csv(path_output+'id_cuis_kg.csv', encoding='utf-8')
df_id_cui_cn = pd.read_csv(path_output+'id_cuis_cn.csv', encoding='utf-8')

In [ ]:
df.head(5)

In [ ]:
df[['value']].to_csv(path_output+'text.csv', encoding='utf-8', index=False)

In [ ]:
df_id_text.shape, df_id_cui.shape,

In [ ]:
df_count = df_id_cui.groupby(['FINAL_CUI'])[['TEXT_ID']].count()
df_top = df_count.sort_values(['TEXT_ID'],ascending=False).iloc[0:30]
df_top.plot.bar()#x='lab', y='val', rot=0)

In [ ]:
df[df['mev_cui_len']!=0].shape

In [ ]:
df[(df['google_abbr_cui_len']!=0)& (df['deepl_abbr_cui_len']==0) & (df['mev_cui_len']==0)].shape

In [ ]:
df[(df['google_abbr_cui_len']==0)& (df['deepl_abbr_cui_len']!=0) & (df['mev_cui_len']==0)].shape

In [ ]:
df[(df['google_abbr_cui_len']!=0)& (df['deepl_abbr_cui_len']!=0)& (df['mev_cui_len']==0)].shape

In [ ]:
df[(df['google_abbr_cui_len']==0)& (df['deepl_abbr_cui_len']==0)& (df['mev_cui_len']==0)].shape

In [ ]:
df.shape

In [ ]:
df[df['FINAL_CUI_len']==0][['Value_ID', 'value','replacement']].to_csv(path_output+'nothaving_cui.csv', encoding='utf-8',\
    index=False)
df[df['FINAL_CUI_len']==0]

In [ ]:
df_id_cui_cn.head(1)

In [ ]:
df_count_cn = df_id_cui_cn.groupby(['FINAL_CUI'])[['TEXT_ID']].count()
df_top_cn = df_count_cn.sort_values(['TEXT_ID'],ascending=False)
cui_cn_dict = dict(zip(df_id_cui_cn.FINAL_CUI, df_id_cui_cn.Canonical_Name))
df_top_cn.head(10)

In [ ]:
df_top_cn['CUI'] = df_top_cn.index
df_top_cn['Canonical_Name'] = df_top_cn['CUI'].apply(lambda x : cui_cn_dict[x])
df_top_cn['TEXT_ID_COUNT'] = df_top_cn['TEXT_ID']

In [ ]:
df_top_cn_new = df_top_cn[['CUI', 'TEXT_ID_COUNT', 'Canonical_Name']]

In [ ]:
df_top_cn_new.head(10)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df_top_cn_new_num = df_top_cn_new.iloc[0:10]
freq_series = df_top_cn_new_num.TEXT_ID_COUNT

x_labels = df_top_cn_new_num.Canonical_Name

# Plot the figure.
plt.figure(figsize=(10, 6))
ax = freq_series.plot(kind='bar')
ax.set_title('CUI Text Count')
ax.set_xlabel('Canonical Name')
ax.set_ylabel('Text Count')
ax.set_xticklabels(x_labels)
plt.xticks(rotation=45, ha='right')
rects = ax.patches

# Make some labels.
labels = df_top_cn_new_num.CUI

for rect, label in zip(rects, labels):
    height = rect.get_height()
    ax.text(rect.get_x() + rect.get_width() / 2, height + 1, label,
            ha='center', va='bottom')

In [ ]:
import plotly.express as px
fig = px.bar(df_top_cn_new.iloc[0:10], y='TEXT_ID_COUNT', x='CUI', text='TEXT_ID_COUNT', hover_data=['Canonical_Name'], width=1000, height=500, labels='Canonical_Name')
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide',xaxis_tickangle=-45)
fig.show()
fig.write_html(path_output+"plot1.html")

In [ ]:
df[df['value'].str.contains(" EN ")][['Value_ID','value','replacement','google_abbr','deepl_abbr']].to_csv(path_output+'EN_wrong_replaced.csv', encoding='utf-8', index=False)

In [ ]:
# load cui embeddings
with open(path+'embeddings_cui.pkl', 'rb') as f:
    embeddings_cui = pickle.load(f)

print(len(embeddings_cui))

df_top_cn_CS = pd.read_csv(path_output+'df_top_cn_CS.csv', encoding='utf-8')
df_top_cn_CS.head(10)

In [41]:
df_top_cn_CS_sem = pd.read_csv(path_output+'df_top_cn_CS_sem_all.csv', encoding='utf-8') #df_top_cn_CS_sem_all
print(df_top_cn_CS_sem.shape)
df_top_cn_CS_sem.dropna(inplace=True)
print(df_top_cn_CS_sem.shape)
df_top_cn_CS_sem.sort_values(by=['CUI_NN_CS_all'], ascending=False, inplace=True)
df_top_cn_CS_sem.head(5)

(8877, 8)
(3356, 8)

,TEXT_ID_COUNT,CUI,Canonical_Name,semantic_type,CUI_NN_all,CUI_NN_CN_all,CUI_NN_SEM_all,CUI_NN_CS_all
7666,1,C0555957,Scaly scalp,['Sign or Symptom'],C0231591,resisted motion,['Sign or Symptom'],1.0
6898,1,C0036002,S-adenosylmethionine,"['Amino Acid, Peptide, or Protein', 'Pharmacologic Substance', 'Biologically Active Substance']",C1330258,estrogel,"['Organic Chemical', 'Pharmacologic Substance', 'Hormone']",1.0
3784,1,C1262289,dysmetabolic syndrome,['Disease or Syndrome'],C0860207,drug-induced liver disease,['Disease or Syndrome'],1.0
2340,2,C0337677,Moderate drinker,['Finding'],C1709098,muscle stimulation,['Finding'],1.0
1898,3,C1997395,History of operative procedure on knee,['Finding'],C0455205,skin finding,['Finding'],1.0

In [4]:
df_top_cn_CS_sem = pd.read_csv(path_output+'df_top_cn_CS_sem_all.csv', encoding='utf-8')
df_top_cn_CS_sem.head(5)

,TEXT_ID_COUNT,CUI,Canonical_Name,semantic_type,CUI_NN_all,CUI_NN_CN_all,CUI_NN_SEM_all,CUI_NN_CS_all
0,83,C0520679,"Sleep Apnea, Obstructive",['Disease or Syndrome'],C0520679,"sleep apnea, obstructive",['Disease or Syndrome'],1.00000
1,81,C0037315,Sleep Apnea Syndromes,['Disease or Syndrome'],C0520679,"sleep apnea, obstructive",['Disease or Syndrome'],0.87107
2,79,C1332550,Bilateral Mass,['Finding'],NaN,NaN,NaN,NaN
3,79,C0459680,Bilateral lateral rectus,"['Body Part, Organ, or Organ Component']",NaN,NaN,NaN,NaN
4,79,C0238767,Bilateral,NaN,NaN,NaN,NaN,NaN

In [6]:

df_top_cn_CS_sem[df_top_cn_CS_sem['Canonical_Name']=='Daily']

,TEXT_ID_COUNT,CUI,Canonical_Name,semantic_type,CUI_NN_all,CUI_NN_CN_all,CUI_NN_SEM_all,CUI_NN_CS_all
831,6,C0332173,Daily,NaN,NaN,NaN,NaN,NaN