In [1]:
import pandas as pd
import re
import time
pd.options.display.width = 0
pd.set_option('display.max_rows', 6000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)
import pickle
#pd.describe_option('display')
# import enchant

In [2]:
# generate ids from original_text
path='/nfs/home/vyasa/projects/proj_off/data_off/clarify/spanish_comorbidity/new/'
path_output = '/nfs/home/vyasa/projects/proj_off/data_off/clarify/spanish_comorbidity/new/output/'

In [3]:
df = pd.read_csv(path+'ids_dictoinary_org.csv', encoding='utf-8')

In [4]:
# select Columns with comorbidity_treatment_line and comorbidity
df = df[(df['table_name']=='comorbidity_treatment_line') & (df['column_name']=='comorbidity')]

In [5]:
# create id for the text
dict_text_id={}
num = 10000
id = "A"
count = 0
for text in df['value']:
    text = text #.strip().replace(';','')
    if text not in dict_text_id:
        dict_text_id[text] = id + str (num + count)
        count = count + 1

In [7]:
len(dict_text_id)

5447

In [84]:
with open(path+'text_id.pkl', 'wb') as f:
    pickle.dump(dict_text_id, f)

In [85]:
# Insert_id
df_data = pd.read_csv(path+'comorbidities_modified_witht_abbr_new.csv', sep=',', error_bad_lines=True, encoding='utf-8')
df_data.shape

(5451, 3)

In [86]:
df_data.columns

Index(['value', 'value_witht_abbr', 'replacement'], dtype='object')

In [87]:
value_id = []
for value in df_data['value']:
    if value in dict_text_id: #value.strip() in dict_text_id
        value_id.append(dict_text_id[value])
    else:
        print (value)

df_data['Value_ID'] = value_id

In [88]:
df_data = df_data[['Value_ID', 'value', 'value_witht_abbr', 'replacement']]

In [89]:
df_data.head(5)

,Value_ID,value,value_witht_abbr,replacement
0,A10000,Gastritis crÛnica,Gastritis crÛnica,Chronic gastritis;
1,A10001,Sarcoma PleomÛrfico Pectoral Mayor,Sarcoma PleomÛrfico Pectoral Mayor,Pectoralis major pleomorphic sarcoma;
2,A10002,hiperuricemia,hiperuricemia,Hyperuricemia;
3,A10003,intervenido pÛlipo colon,intervenido pÛlipo colon,Colon polyp operated;
4,A10004,intervenido estenosis aorta,intervenido estenosis aorta,Aortic stenosis operated;

In [90]:
df_data.tail(5)

,Value_ID,value,value_witht_abbr,replacement
5446,A15442,AIT en 2017,ataque isquémico transitorio en 2017,Ischemic attack
5447,A15443,pericarditis en 2013,pericarditis en 2013,;
5448,A15444,hepatopatia crÛnica con fibrosis e HTP por VHB,hepatopatia crÛnica con fibrosis e hipertensión pulmonar por virus hepatitis tipo B,Hepatitis type B
5449,A15445,enfermedad de crhon,enfermedad de crhon,;
5450,A15446,intervenido en 3 ocasiones por oclusiÛn intestinal ultima complicada y es portador de fistula entero,intervenido en 3 ocasiones por oclusiÛn intestinal ultima complicada y es portador de fistula entero,;

In [91]:
df_data.to_csv(path+'comorbidities_modified_witht_abbr_new.csv', index=False, encoding='utf-8')